#lightbox [class*="col-"],
.gallery[class*="col-"] {
    padding: 0px;
}

.gallery-thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery-thumb img {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

.scrollimation .gallery-thumb {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity .4s ease-out, transform .4s ease-out;
}

.touch .scrollimation .gallery-thumb,
.scrollimation .gallery-thumb.in {
    transform: translateY(0px);
    opacity: 1;
}

.gallery-thumb .overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background: #000;
    transition: opacity .3s ease-out;
}

.gallery-thumb:hover .overlay-mask {
    opacity: 0.5;
}


/* Isotope */

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    z-index: 1
}

.isotope,
.isotope .isotope-item {
    transition-duration: 0.8s;
}

.isotope-item {
    margin-right: -1px;
    backface-visibility: hidden;
}

.isotope {
    transition-property: height, width;
}

.isotope .isotope-item {
    transition-property: transform, opacity;
}


/* button control  */


/* Nav-pills */

.nav-pills {
    display: inline-block;
}

.nav-pills>li>a {
    transition: all .2s ease-in-out;
    border-radius: 0px;
    font-size: 16px;
    margin: 5px;
    text-transform: uppercase;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: .15em;
    font-family: 'Montserrat', sans-serif;
}

.nav-pills>li>a {
    color: white;
    background-color: #222227 !important;
    width: 200px;
    text-align: center;
}

.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.nav-pills>li>a:hover,
.nav-pills .nav>li>a:hover,
.nav-pills>li.active>a {
    color: white;
    background-color: #857568 !important;
}