.yellow_section {
    background-color: #fbfaf4;
}

.section_gap {
    padding-top: 0;
    padding-bottom: 81px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -55px;
}


/*----------------------------------------------------
	5. The Couple
------------------------------------------------------*/

.theCouple {
    padding: 0 5.89%;
    text-align: center;
}

ul.theCouple li {
    display: inline-block;
}

.theCouple img {
    display: block;
    margin: 0 auto 15px;
}

.theCouple h3 {
    text-align: center;
    margin-bottom: 3px;
    color: #9E8A78;
    font-family: 'Prata';
}

.theCouple h5 {
    text-transform: uppercase;
    font-family: 'Lato-Light';
}

.theCouple p {
    text-align: center;
    font-size: xxx-large;
    font-family: 'Prata';
}

.theCouple ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.theCouple ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 2%;
}

.theCouple ul li:last-child {
    margin-right: 0;
}

.theCouple ul li a {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 31px;
}

.theCouple a.ico {
    background-color: #fff;
    border: 1px solid #605154;
    border-radius: 50%;
    display: inline-block;
    height: 28px;
    margin-bottom: 15px;
    text-align: center;
    width: 28px;
}

.theCouple a.ico:hover {
    border: 1px solid #ee6593;
}

.theCouple a.ico:hover i {
    color: #ee6593;
}

.theCouple a i {
    color: #323a42;
    font-size: 13px;
    line-height: 25px;
}

.line {
    background: url(../images/line-divider.png) no-repeat 50% 0;
    height: 435px;
    position: relative
}

.line i {
    color: #88786A;
    font-size: 64px;
    left: 32%;
    position: absolute;
    top: 43%;
}

.bigRound {
    border-radius: 50%;
    width: 234px;
    height: 234px;
    border: 10px solid #88786A;
}

.unline {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .noPadd {
        padding: 0 15px!important;
    }
    .bannerText h1 {
        font-size: 62px;
    }
    .line {
        display: none;
    }
    .unline {
        display: block;
        margin-top: -35px;
    }
}