.MenuWeb{
    background-color: #222227;
    left: 0;
    top: 0;
    position: fixed;
}

@media (max-width: 1000px) {

    .menuMobile{
        left: -15px;
        bottom: 40px;
        position: fixed;
        background-color: transparent;
        top: auto;
        z-index: 999;
    }
    .shadowList{
        box-shadow: 2px 1px #888888;
    }

}